@model mvc.Models.invoice

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card">
    <div class="card-header">
     

        <h4>Edit invoice</h4>
    </div>
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
            <div class="col-md-6">

                <label asp-for="invoiceno" class="control-label"></label>
                <input asp-for="invoiceno" class="form-control" />
                <span asp-validation-for="invoiceno" class="text-danger"></span>
            </div>
                <div class="col-md-6">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
           <div class="col-md-6">
                <label asp-for="customername" class="control-label"></label>
                <input asp-for="customername" class="form-control" />
                <span asp-validation-for="customername" class="text-danger"></span>
            </div>
           <div class="col-md-6">
                <label asp-for="Areaid" class="control-label"></label>
                <input asp-for="Areaid" class="form-control" />
                <span asp-validation-for="Areaid" class="text-danger"></span>
            </div>
           <div class="col-md-6">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
           <div class="col-md-6">
                <label asp-for="batchno" class="control-label"></label>
                <input asp-for="batchno" class="form-control" />
                <span asp-validation-for="batchno" class="text-danger"></span>
            </div>
           <div class="col-md-6">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
           <div class="col-md-6">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
           <div class="col-md-6">
                <label asp-for="discount1" class="control-label"></label>
                <input asp-for="discount1" class="form-control" />
                <span asp-validation-for="discount1" class="text-danger"></span>
            </div>
           <div class="col-md-6">
                <label asp-for="discount2" class="control-label"></label>
                <input asp-for="discount2" class="form-control" />
                <span asp-validation-for="discount2" class="text-danger"></span>
            </div>
           <div class="col-md-6">
                <label asp-for="addtax" class="control-label"></label>
                <input asp-for="addtax" class="form-control" />
                <span asp-validation-for="addtax" class="text-danger"></span>
            </div>
           <div class="col-md-6">
                <label asp-for="expirydate" class="control-label"></label>
                <input asp-for="expirydate" class="form-control" />
                <span asp-validation-for="expirydate" class="text-danger"></span>
            </div>
           <div class="col-md-6">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            </div>
           <div class="col-md-6">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
